.swiper{
    overflow-y: auto;
    overflow-x: hidden !important;
    scrollbar-width: 0px;
}

.swiper-pagination-bullet-active{
    background:#124A4B !important;
}

.swiper-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic, .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic{
    bottom: -10%;
}

.swiper-button-next:after, .swiper-button-prev:after{
    color:#000;
    font-size: 18px !important;
   
    padding:5px 10px;
    font-weight: 700;
    background-color: #D9D9D9;


}

.industrial-challenges .swiper-slide{
    position: relative;
}

.industrial-challenges .swiper-slide .overlay{
    position: absolute;
    background: rgba(18, 74, 75, 0.562);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff !important;
}