

  

  
 

.card{
    border-color: transparent;
    border-radius: 10px !important;
    overflow: hidden;
}


.img-container{
    overflow: hidden;
}

.card-img-top{
    transform: scale(1.7);
    /* background-position: top top; */
    object-position: top top;
}

.card-btn{
    border-radius: 0px;
    border-top-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    top: 54%;
    left: 20px;
}


.managing-risk{
    background-image: url("./images/home/managing_risk.png");
    background-repeat: no-repeat;
    height: 100vh;
}


.button-radius{
    border: 2px solid #000;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #E06B74;
    font-weight: 700;
    padding: 10px 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-1{
    background-image: url("./images/home/H1.png");
    width: 100%;
    height: 57vh;
    border-radius: 20px;
    background-repeat: no-repeat;
    object-fit: cover;
}

.choose{
    overflow: hidden;
    background: url("./images/home/choose.png");
    object-fit: contain;
    width: 100%;
    height: auto;
}

.choose-mobile{
    background-color: #2D333D   ;
}

.carousel-caption{
    left: 5%;
    right: 5%;
    bottom: 0%;
}

.carousel-caption p{
    text-shadow: 0px 0px 10px rgba(0,0,0,0.6);
}

.