@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
    font-family: "Inter", serif;
}



/*------------------------------------
- COLOR primary
------------------------------------*/
.alert-primary {
    color: #ac242e;
    background-color: #103113112;
    border-color: #ff102102;
}

.alert-primary hr {
    border-top-color: #fbedee;
}

.alert-primary .alert-link {
    color: #821b23;
}

.badge-primary {
    color: #212529;
    background-color: #E06B74;
}

.badge-primary[href]:hover, .badge-primary[href]:focus {
    color: #212529;
    background-color: #d7404c;
}

.bg-primary {
    background-color: #E06B74 !important;
}

a.bg-primary:hover, a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
    background-color: #d7404c !important;
}

.border-primary {
    border-color: #E06B74 !important;
}

.btn-primary {
    color: #fff;
    font-weight: 600;
    background-color: #E06B74;
    border-color: #E06B74;
}

.btn-primary:hover {
    color: #fff;
    background-color: #d94d58;
    border-color: #d7404c;
}

.btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(224, 107, 116, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
    color: #212529;
    background-color: #E06B74;
    border-color: #E06B74;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    color: #212529;
    background-color: #d7404c;
    border-color: #d43440;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(224, 107, 116, 0.5);
}

.btn-outline-primary {
    color: #E06B74;
    background-color: transparent;
    border-color: #E06B74;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #E06B74;
    border-color: #E06B74;
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(224, 107, 116, 0.5);
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
    color: #E06B74;
    background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle {
    color: #212529;
    background-color: #E06B74;
    border-color: #E06B74;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(224, 107, 116, 0.5);
}

.list-group-item-primary {
    color: #ac242e;
    background-color: #ff102102;
}

.list-group-item-primary.list-group-item-action:hover, .list-group-item-primary.list-group-item-action:focus {
    color: #ac242e;
    background-color: #fbedee;
}

.list-group-item-primary.list-group-item-action.active {
    color: #212529;
    background-color: #ac242e;
    border-color: #ac242e;
}

.table-primary,
.table-primary > th,
.table-primary > td {
    background-color: #ff102102;
}

.table-hover .table-primary:hover {
    background-color: #fbedee;
}

.table-hover .table-primary:hover > td,
.table-hover .table-primary:hover > th {
    background-color: #fbedee;
}

.text-primary {
    color: #E06B74 !important;
}

a.text-primary:hover, a.text-primary:focus {
    color: #d7404c !important;
}

/*------------------------------------
- COLOR primary ends
------------------------------------*/

.bg-grey{
    background-color: #F5F5F5;
}


/*------------------------------------
- news letter section starts
------------------------------------*/

.news-letter .form-control:focus{
    box-shadow: none;
    border-color: transparent;
}

.news-letter .form-control{
    box-shadow: none;
    border-radius: 0px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-color: transparent;
}

.news-letter .form-control::placeholder{
    color: #252525;
    font-weight: 500;
}

.sign-up-btn{
    margin-left: -20px;
    /* font-size: 3px; */
    border-radius: 0px;
    padding-top: 1rem;
    padding-bottom: 1rem;

    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

/*------------------------------------
- news letter section ends
------------------------------------*/